:root {
    /* AUTUMN COLORS
    primary alt: #D68910 or #B45F06 or #B9770E
    secondary alt: #F1C40F or #F4D03F or #FFD966
    text light alt: #F9E79F or #FFF2CC or #FCF3CF
    --color-primary: #B45F06;
    --color-secondary: #FFD966;
    --color-text-light: #FFF2CC;
    --color-text-dark: #7f6000;
    */
    
    /* SPRING COLORS
    primary alt: #D68910 or #B45F06 or #B9770E
    secondary alt: #F1C40F or #F4D03F or #FFD966
    text light alt: #F9E79F or #FFF2CC or #FCF3CF */
    --color-primary: #537345;
    --color-secondary: #CAD996;
    --color-text-light: #F2F2F2;
    --color-text-dark: #0D0D0D;

    --height-header: 8rem;
    --height-footer: 8rem;
    --height-sidebar: calc(100% - var(--height-header) - var(--height-footer));
    --width-sidebar: 18rem;

    --font-family-body: Arial, sans-serif;

    --font-size-headings: 30px;
    --font-size-subheadings: 22px;
    --font-size-body: 16px;
    --font-size-footer: 14px;
}

html {
    box-sizing: border-box;
    background-color: var(--color-secondary);
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    color: var(--color-text-dark);
}

body {
    margin: 0;
}


/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: var(--width-sidebar) auto;
    width: 100%;
    height: var(--height-header);
    background-color: var(--color-primary);
}

header > h1 {
    padding: 0.25rem 0.25rem 1rem 0.25rem;
    margin: 0;
    align-self: center;
    text-align: center;
    font-size: var(--font-size-headings);
    font-weight: normal;
    color: var(--color-text-light);
    text-transform: lowercase;
}

#header-nav > ul {    
    display: flex;
    flex-wrap: wrap;
    padding: 0.25rem 2rem 1rem 2rem;
    margin: 0;
    height: calc(var(--height-header) - 1.25rem);
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0.25rem 4rem;
    font-size: var(--font-size-subheadings);
    list-style-type: none;
}

#header-nav > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-text-light);
}


/* SIDE NAVIGATION BAR */

#side-nav {
    position: fixed;
    left: 0;
    bottom: var(--height-footer);
    display: grid;
    grid-template-columns: auto 3.5rem;
    width: var(--width-sidebar);
    height: var(--height-sidebar);
    background-color: var(--color-primary);
    font-size: var(--font-size-subheadings);
}

#side-nav-headers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    margin: 0 0 6rem 0.25rem;
}

#side-nav-headers > a {
    text-decoration: none;
    color: var(--color-text-light);
}

#side-nav-timeline {
    margin: 2.5rem 1.5rem;
    border-left: var(--color-text-light) solid 2px;
}

#side-nav-diamond {
    position: fixed;
    width: 0.8rem;
    height: 0.8rem;
    transform: translate(-0.65rem, 3.5rem) rotate(45deg); /* change in javascript too */
    border: solid 3px var(--color-primary);
    background-color: var(--color-secondary);
}


/* MAIN CONTENT */

main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: calc(100% - var(--width-sidebar) - 3rem);
    height: calc(100% - var(--height-header) - var(--height-footer));
    margin: var(--height-header) 0 var(--height-footer) var(--width-sidebar);
    padding: 4rem 1.5rem 5rem 1.5rem; /* change value in width if right or left is changed */
}

h2 {
    font-size: var(--font-size-headings);
}

section {
    scroll-margin-top: 7rem;
    scroll-snap-type: proximity;
}

#about-me-header {
    margin-top: 0;
}

h3 {
    margin: 1.5rem 0 0.5rem 0;
    font-size: var(--font-size-subheadings);
    font-weight: normal;
}

.about-me-text {
    line-height: 1.5rem;
}

.resume-item-head-details > p {
    margin: 0 0;
}

.resume-item-description {
    margin: 0 2.5rem; /* indents descriptions */
}

.content-sticky-links {
    position: fixed; /* Try sticky positioning */
    right: 0;
    bottom: calc(var(--height-footer));
    width: calc(100% - var(--width-sidebar) - 2rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1.5rem 1rem; /* change width if this changes */
    background-image: radial-gradient(var(--color-secondary) 35%, #00000000 75%);
    /*background-image: radial-gradient(blue 45%, red 75%);*/
}

.content-sticky-links > a {
    width: 10rem;
    line-height: 2.5rem;
    background-color: var(--color-primary);
    border: outset 1px var(--color-text-light);
    border-radius: 6px;
    box-shadow: 0 2px 3px var(--color-text-dark);
    text-align: center;
    text-decoration: none;
    color: var(--color-text-light);
}


/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--height-footer);
    background-color: var(--color-primary);
    font-size: var(--font-size-footer);
    text-align: center;
    color: var(--color-text-light);
}

footer > p {
    margin: 1rem 0;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

footer > p > a {
    color: var(--color-text-light);
}
