:root {
    --color-primary: #B45F06; /* alt: #D68910 or #B45F06 or #B9770E*/
    --color-secondary: #FFD966; /* alt: #F1C40F or #F4D03F or #FFD966*/
    --color-text-light: #FFF2CC; /* alt: #F9E79F or #FFF2CC or #FCF3CF*/
    --color-text-dark: #7f6000;

    --height-header: 12dvh;
    --height-footer: 10dvh;
    --height-sidebar: calc(100% - var(--height-header) - var(--height-footer));
    --width-sidebar: 260px;

    --font-family-body: Arial, sans-serif;

    --font-size-headings: 30px;
    --font-size-subheadings: 22px;
    --font-size-body: 16px;
    --font-size-footer: 12px;
}

html {
    box-sizing: border-box;
    background-color: var(--color-secondary);
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    color: var(--color-text-dark);
}

body {
    margin: 0;
}


/* HEADER */

header {
    position: fixed;
    top: 0px;
    left: 0px;
    display: grid;
    grid-template-columns: var(--width-sidebar) auto;
    width: 100%;
    height: var(--height-header);
    background-color: var(--color-primary);
}

header > h1 {
    padding: 5px 5px 15px 5px;
    margin: 0px;
    align-self: center;
    text-align: center;
    font-size: var(--font-size-headings);
    font-weight: normal;
    color: var(--color-text-light);
    text-transform: lowercase;
}

#header-nav > ul {    
    display: flex;
    flex-wrap: wrap;
    padding: 5px 40px 20px 40px;
    margin: 0px;
    height: calc(var(--height-header) - 25px);
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px 70px;
    font-size: var(--font-size-subheadings);
    list-style-type: none;
}

#header-nav > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-text-light);
}


/* SIDE NAVIGATION BAR */

#side-nav {
    position: fixed;
    left: 0;
    bottom: var(--height-footer);
    display: grid;
    grid-template-columns: auto 60px;
    width: var(--width-sidebar);
    height: var(--height-sidebar);
    background-color: var(--color-primary);
    font-size: var(--font-size-subheadings);
}

#side-nav-headers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    margin: 0px 0px 120px 5px;
}

#side-nav-headers > a {
    text-decoration: none;
    color: var(--color-text-light);
}

#side-nav-timeline {
    margin: 50px 25px;
    border-left: var(--color-text-light) solid 2px;
}


/* MAIN CONTENT */

main {
    width: calc(100% - var(--width-sidebar) - 10px);
    height: calc(100% - var(--height-header) - var(--height-footer));
    margin: var(--height-header) 0 var(--height-footer) var(--width-sidebar);
    padding: 5px; /* change value in width if this is changed */
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--height-footer);
    background-color: var(--color-primary);
    font-size: 14px;
    text-align: center;
    color: var(--color-text-light);
}

